<li id="<%= dom_id(note) %>"
    class="border-b border-walnut-900/10 pb-3 last:border-0 last:pb-0 dark:border-gilt-500/20">
  <p class="text-xs uppercase tracking-[0.18em] text-walnut-700/70 dark:text-amber-200/60">
    <%= note.highlights.map(&:osis_ref).join(", ") %>
    <span class="ml-2 italic normal-case tracking-normal">
      <%= t("bible.reader.by_author", name: note.user.display_name.presence || note.user.email) %>
    </span>
  </p>
  <div class="trix-content mt-1 font-serif text-walnut-900 dark:text-amber-200">
    <%= note.body %>
  </div>
</li>
